div.container{
    display: flex;
    flex-flow: row wrap;
    background-color: lightsalmon;
} 

div.item{
    
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    flex: auto;
}