div.container{
    
    background-color: lightsalmon;
    display: flex;
    flex-flow: wrap;
    
    
}

div.item{
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 20px;

}